$md:768px;

@mixin md{
  @media (min-width:($md)) {
    @content;
  }
}

body{
  font-family: "游明朝 Light", "游明朝", "YuMincho", "Yu Mincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;  
  font-size: 15px;
  line-height: 1.8em;
  -webkit-text-size-adjust: 100%;
  line-break: strict;
  letter-spacing: 0.07em;
}

li{
  list-style: none;
  padding:0;
  margin:0;
}

ul{
  height:100%;
  padding:0;
  display:block;
}

img{
  width: 100%;
  height: auto;
  display:block;
}

.wrapper{
  padding: 10px;
  
  @include md(){
    max-width: 914px;
    margin: 0 auto;
  }
}

.text{
  font-size: 13px;
  padding:0 15px 34px;
  line-height: 2.2em;
  font-size: .818rem ;
}

.btn{
  width:150px;
  border-radius: 0;
  font-size:12px;
  color:black;
}

header{
  position: fixed;
  width: 100%;
  height:40px;
  z-index: 100;

  a{
    color:black;
    display: block;
  }

  .header-logo{
    font-size: 15px;
  }
}
     
section{
  span{
    &.section-header{
      border-bottom: 2px solid #313131;
      display: inline-block;
      font-weight: 600;
      margin:40px 0;
    }
  }

  .photobox{
    width:50%;

    img{
      padding: 5px;
    }
  }

  .movies{
    padding:75px 0 20px 0;
  }

  &.news{
    padding-bottom: 60px;
    padding-top: 20px;
  }

  &.plan{
    .textarea{
      background: #f8f8f8;
      margin:15px 0;
      padding-bottom:40px;
      padding-top:40px;
    }
  }

  &.footersection{
    padding-top:80px;

    li{
      padding:7px 0;
    }

    .login{
      margin:20px 0;
    }
  }

  &.footersection{
    .footerlist-l{
      @include md(){
        border-left:1px solid  #dee2e6;
      }
    }
    .footerlist-r{
      @include md(){
        border-right:1px solid  #dee2e6 ;
        border-left:1px solid  #dee2e6;
      }
    }
  }
}

footer{
  img{
    width:15px;
    height: 19px;
  }

  p{
    display:block;
    font-size: 13px;
    margin-bottom:0;
  }

  .icon{
    width:150px;
    margin:15px auto;

    ul{
      display: flex;
      list-style: none;
      text-align: center;
    }

    li{
      margin:0 auto;
      text-align: center;
    }
  }

  .border-top{
    margin:30px;
  }

  .under{
    margin-bottom:30px;
  }

}