$md:768px;

@mixin md{
  @media (min-width:($md)) {
    @content;
  }
}

.textarea-2{
  margin-top: 3.5em;
}

.text{
  @include md(){
    width:510px;
    margin:0 auto;
  }
}

section{
  &.concept{
    .conceptbox{
      background: white;
      margin:15px 0;
      padding-bottom:40px;
      padding-top:20px;
      font-size: 16px;

      .concept-h3{
        margin-bottom: 52px;
        font-size: 1.08rem;
      }
    }
  }

  &.top-photo-1{
    @include md(){
      width:760px;
      margin-right:auto;
      margin-left:auto;
    }
  }

  &.top-photo-2{
    margin-top: 60px;
    margin-bottom:66px;

    @include md(){
      width:760px;
      margin-right:auto;
      margin-left:auto;
    }
  }

  &.top-photo-3{
    margin-bottom:66px;
  }

  &.interview{
 
    .interview-imgs{
      margin-top: 30px;
    }

    .interview-img{
      @include md(){
        margin-top:50px;
        margin-bottom:50px;
      }
    }

    .interview-btn{
      display: block;
      width: 70%;
      height: 51%;
      border: 4px solid #fff;
      position: absolute;
      top: 24%;
      left: 15%;
      z-index: 1;
      color:white;
     
      p{
        position: absolute;
        top:50%;
        margin-top: -7%;;
        width:100%;
        text-align: center;
        font-size: 26px;
      }
    }
  }

  &.studio-details {
    .studio-name{
      margin-top:90px;
      margin-bottom: 60px;
      display: block;

      @include md(){
        margin-top: 80px;
      }
    }    

    .adress{
      .table{
        font-size: 12px;
        line-height: 1.75;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 40px;
        letter-spacing: .02em;
        @include md(){
          font-size: 16px;
          line-height: 1.75;
          letter-spacing: .04em;
        }

        td{
          padding-top:5px;
          padding-bottom:5px;
        }
      }

      button{
        &.btn{
          width: 50%;
          @include md(){
            width: 100%;
          }
        }
      }
    }
  }

  &.img-btn{
    margin-top: 30px;
  }
}